table, tr, td {
	text-align: center;
}

table {
	border: 1px #000000 solid;
	border-radius: 5px;
}

td {
	border: 1px #DDDDDD solid;
}

.button {
	cursor: default;
}

#add {
	color: #6495ED;
	background-color: #EEEEEE;
}

#c {
	color: #6495ED;
	background-color: #EEEEEE;
}

#backspace {
	color: #6495ED;
	background-color: #EEEEEE;
}

#calculator {
	text-align: center;
	margin: 0 auto;
}

#display {
	text-align: right;
	height: 18px;
}

#divide {
	color: #6495ED;
	background-color: #EEEEEE;
}

#eight {

}

#five {

}

#four {

}

#madd {
	color: #A9A9A9;
	background-color: #EEEEEE;
}

#multiple {
	color: #6495ED;
	background-color: #EEEEEE;
}

#mc {
	color: #A9A9A9;
	background-color: #EEEEEE;
}

#mr {
	color: #A9A9A9;
	background-color: #EEEEEE;
}

#msubtract {
	color: #A9A9A9;
	background-color: #EEEEEE;
}

#nine {

}

#one {

}

#percentage {

}

#pipe {
	color: #A9A9A9;
	visibility: visible;
}

#point {

}

#result {
	color: #FFFFFF;
	background-color: royalblue;
}

#seven {

}

#six {

}

#subtract {
	color: #6495ED;
	background-color: #EEEEEE;
}

#three {

}

#two {

}

#zero {

}